<!DOCTYPE HTML>
<html>
<head>
    <title>Remote ECG</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>
<body onload="javascript:wsconnect()">
  <div class="container">
	<h2>Remote ECG monitor</h2>
	<div style="width:800px;height:200px">
        <canvas id="myChart"></canvas>
    </div>
</body>
    <script type="text/javascript" charset="utf-8">
		var t=0
		var lastR 	//last R peak
		var isR=false
		var smoothed	//EWMA filtered value
		var gain=2
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				datasets: [{
					label: "{{userkey}} ",
					data: [],
					fill: false,
					radius: 1,
					tension: 0
					}]
				},
			options: {
				animation:false,
				scales: {
					yAxes: [{
						ticks: {
							max: 1,
							min: -1,
							stepSize: 0.2,
							}
						}],
					xAxes: [{
						type: 'linear',
						position: 'bottom',
						ticks: {
							stepSize: 0.2
							}
						}]
					}
				}
			});
			
		function updateChart(JSONpoint) {
			point=JSON.parse(JSONpoint)
			delta=0
//			console.log(JSONpoint);    //DEBUG ONLY
			if ( smoothed == null ) {
				smoothed=point["y"];
			} else {
				delta=smoothed-point["y"]
				smoothed=(smoothed*(gain-1)+point["y"])/gain;
			}
			if ( smoothed > 0.7 ) {
				if ( isR != true ) {
					ppm=Math.round(60/(point["x"]-lastR))
					if (ppm < 1000) {
						myChart.data.datasets[0].label="{{userkey}} ("+ppm+" PPM)";
					}
					lastR=point["x"]
					isR=true
				}
			} else
			{
				isR=false
			}
			point["y"]=smoothed
			if (myChart.data.datasets[0].data.length > 1000) {
				myChart.data.datasets[0].data.shift();
			}
//			point["y"]=delta
			myChart.data.datasets[0].data.push(point);
			if (t==20) {
				myChart.update()
				t=0
			}
			else t++
		}
 
        function wsconnect() {
			id="{{userkey}}"
			console.log("got "+ id );
            if ("WebSocket" in window) {
                ws = new WebSocket("ws://"+location.host+"/out/"+id);
                ws.onopen = function (event) {
					console.log('new socket from '+id);
				}
                ws.onmessage = function (event) {
					updateChart(event.data)
                };
                ws.onclose = function (){
					alert("WebSocket disconnect (user not ready)");
                    console.log('socket closed');
                }
            } else {
                alert("WebSocket not supported");
            }
            window.onbeforeunload = function() {
              ws.close()
            };
        }
    </script>

</html>
